<div class="position-relative">
  <div id="deploy-{{oid}}" class="Popover position-absolute d-none" style="right: 100%; bottom: -50%;">
    <div class="Popover-message Popover-message--large Popover-message--right-bottom mr-2 Box box-shadow-large Box--condensed">
      {{#> deploy_status_body }}{{/deploy_status_body}}
    </div>
  </div>
  <div style="margin-right: 16px;">
    <a href="#deploy-{{oid}}" role="button" class="btn text-{{deployment.status.color}}" data-toggle="deploy-{{oid}}">
      Deploy
      {{#if deployment.status.success}}{{> icon_check}}{{/if}}
      {{#if deployment.status.pending}}{{> icon_dot}}{{/if}}
      {{#if deployment.status.failure}}{{> icon_x}}{{/if}}
      {{#if deployment.status.waiting}}{{> icon_clock}}{{/if}}
    </a>
  </div>
</div>
