</main>
<div class="bg-white width-full position-fixed bottom-0 box-shadow-medium p-3">
  <p class="f4-light mb-0">Need help? Have a question? <a href="{{pkg.community}}" target="_blank">Visit the Spectrum chat</a>
  for community questions and answers.</p>
</div>
</body>
</html>
