</main>
<script src="https://unpkg.com/handlebars@4.1.2/dist/handlebars.runtime.min.js"></script>
<script src="/probot/static/partials.js"></script>
<script src="/app/init.js"></script>
</body>
</html>
