<!DOCTYPE html>
<html lang="en" class="height-full">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{#if name }}{{ name }}{{else}}Your App{{/if}}</title>
  <link rel="icon" href="/probot/static/probot-head.png">
  <link rel="stylesheet" href="/probot/static/primer.css">
  <link rel="stylesheet" href="https://unpkg.com/@primer/css@12.5.0/dist/primer.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/probot/static/main.css">
  <style>
  </style>
</head>

<body class="height-full bg-gray-light">
<main>
<header>
<nav class="box-shadow navbar">
  <a href="/">
    <h3>
      {{pkg.name}}
      <span class="Label Label--outline v-align-middle ml-2 text-gray-light">v{{pkg.version}}</span>
    </h3>
  </a>
</nav>
