.navbar {
  width: 100%;
  padding: 5px 16px;
  height: 64px;
  background-color: #24292e;
  color: hsla(0,0%,100%,.7);
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.navbar a {
  color: hsla(0,0%,100%,.7);
}
.hidden { display: none; }

.content {
  max-width: 800px; width: 100%; margin: auto;
  padding: 0 16px;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

html,
body {
  height: 100%;
  margin: 0
}
main {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.fill {
  flex: 1 1 auto;
}
