.navbar {
  width: 100%;
  padding: 5px 16px;
  height: 64px;
  background-color: #24292e;
  color: hsla(0,0%,100%,.7);
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.navbar a {
  color: hsla(0,0%,100%,.7);
}
.hidden { display: none; }

.content {
  max-width: 800px; width: 100%; margin: auto;
  padding: 0 16px;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}
main {
  min-height: 80vh;
}

@media (max-width: 544px) {
  .d-none-sm {
    display: none;
  }
}
@media (max-width: 768px) {
  .d-none-md {
    display: none;
  }
}
@media (max-width: 1012px) {
  .d-none-lg {
    display: none;
  }
}

.loader:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: black;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 black,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 black,
      .5em 0 0 black;}}
